doctype strict
html(lang="eng")
    head 
        title documento xhtml 1.0 strict 
        meta(charset="uft-8")
    body
    h1 documento xhtml 1.0 strict 
    hr
    p ejemplode un documento xhtml 1.0 strict desde jade.

