<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title lista no ordenada
body
  <ul> 
  <li>amarillo</li>
  <li>azul</li>
  <li>rojo</li>
  <li>blanco</li>
</ul>
<li>serie A
  <ul>
    <li>inter de milan </li>
    <li>juventus</li>
    <li>milan </li>
  </ul>
<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
<li>liga BBVA
  <ul> 
    <li>atletico de madrid </li>
    <li>barcelona</li>
    <li>valencia</li>
  </ul>
</li>
<li>liga aguila
  <ul> 
    <li>once caldas </li>
    <li>narcopan </li>
    <li>burrior</li>
    <li>ochonarios</li>
    <li>medellin </li>
  </ul>
</li>
