<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	<img src="https://images5.alphacoders.com/651/651897.png" title="imagen de internet" widht="120px" height="100"/>
	<img src="https://images5.alphacoders.com/651/651897.png" widht="12px" height="500"/>
	