<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8"/>
  <title>tablas</title>
</head>
<body>
  <table border="7">
    <tr>
      <th>nombre completo </th>
      <th>telefono</th>
      <th>direccion </th>
    </tr>
    <tr>
      <th>jeremias springfield</th>
      <th>8741122</th>
      <th>calle 11 # 56-98</th>
    </tr>
    <tr> 
      <th>homero simpson</th>
      <th>8834455</th>
      <th>calle siempre viva </th>
    </tr>
    <tr> 
      <th>jhonatan gomez toro</th>
      <th>8824473</th>
      <th>cra 20 # 13-07  </th>
    </tr>
  </table>
</body>