<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <title>reto de tablas</title>
    <style rel="stylesheet">
      table {                              border: 2px solid #000;
         border-collapse: collapse;
           }
       table td {
         background-color:#eee;
         border: 2px solid #;
         color: #888;
         font: 16px tahoma;
         padding: 20px;
         text-align:center;
          }
    </style>
  </head>
  <body>
    <table border="1">
      <tr>
        <td colspan="5">X</td>
      </tr>
      <tr>
        <td rowspan="3">X</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td rowspan="2">X</td>
      </tr>
      <tr>
        <td colspan="3">X</td>
      </tr>
      <tr>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
      </tr>
    </table>
  </body>
</html>