<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
  <style rel="stylesheet"></style>
  <body>
    <table border="1">
      <tfoot>
        <tr>
          <td colspan="3">informacion de usuarios</td>
          <thead>
            <tr>
              <th>nombres </th>
              <th>tibulacion</th>
              <th>año  </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>hugo</td>
              <td>adsi</td>
              <td>2016</td>
            </tr>
          </tbody>
          <tr>
            <td>paco</td>
            <td>salud ocupacional </td>
            <td>2016</td>
          </tr>
          <tr>
            <td>jhonatan</td>
            <td>sistemas </td>
            <td>2020</td>
          </tr>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
    