<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <title>formulario</title>
  </head>
  <body>
    <form method="post">
      <fieldset>
        <legend>Datos de Usuario </legend>
      </fieldset>
      <fieldset>
        <legend>Datos de Empresa</legend>
        <!-- nombre-->
        <label for="nombres">nombres</label>
        <input type="text" id="nombres"/><br/><br/>
        <!-- genero -->
        <label for="genero">Genero</label>
        <select>
          <option>seleccione...</option>
          <option value="f">Femenino</option>
          <option value="M">masculino</option>
        </select><br/><br/>
        <!-- deporte -->
        <label for="deporte">Deporte</label>
        <select multiple="multiple" td="deporte">
          <option value="1">futbol</option>
          <option value="2">baloncesto</option>
          <option value="3">tennis</option>
          <option value="4">raquetas</option><br/><br/><br/>
          <!-- descripcion-->
        </select>
        <label for="descripcion">Descripcion </label>
        <textarea id="descripcion" cols="40" rows="6"></textarea><br/><br/><br/>
        <!-- contrase単a-->
        <label for="contrase単a">contrase単a</label>
        <input type="password" id="contrase単a"/><br/><br/>
        <!-- foto -->
        <label for="foto">foto</label>
        <input type="file" id="foto" accept="image/*"/><br/><br/>
        <!--nacionalidad -->
        <label>nacionalidad</label><br/>
        <label>panama</label>
        <input type="checkbox" name="nacionalidad" value="panama"/>
        <label>colombia</label>
        <input type="checkbox" name="nacionalidad" value="colombia"/>
        <label>ecuador</label>
        <input type="checkbox" name="nacionalidad" value="ecuador"/><br/><br/>
        <!--botones-->
        <input type="submit" value="enviar datos"/>
        <input type="reset" value="reiniciar formulario"/><br/><br/>
      </fieldset>
    </form>
  </body>
</html>