<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <title>estructura (semantica)</title>
    <style rel="stylesheet">
      body{
         background-color: green;
          text-shadow: gray 2px 0;
          background-image:url(http://dbnao.net/i/men/news/2015-07-04-db-super-twitter-01.jpg); 
      }
      main {
        background-color: rgba(0,0,0, 0.5);
        margin: 0px auto;
        padding: 20px;
        width: 800px;
      }
      header figure{
        text-align: center;
      }
      nav li {
        background-color: ;
        color: white;
        display: inline-block;
        list-style: none;
        padding: 20px;
        text-align: center;
        width: 156px;
        transition: all 0.1s ease-in;
      }
      nav li:hover, 
      nav li:hover a{
        background-color: white;
        color: ;
      }
      nav li a {
        color: white;
        display: block;
        height: 100%;
        font-size: 20px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 100%;
      }
      }
      
    </style>
  </head>
  <body>
    <main> 
      <header>
        <figure>
          <h1> bienvenido a drangon ball super</h1>
        </figure>
      </header>
      <nav>
        <li><a href="">inicio</a></li>
        <li><a href="">nosotros</a></li>
        <li><a href="">servicios</a></li>
        <li><a href="">contacto</a></li>
        <li><a href="http://jkanime.net/dragon-ball-super/">episodios dragon ball super</a></li>
        <h1>video (html5)</h1>
      </nav>
      <video controls="controls" poster="imgs/dota2.png">
        <source src="video/dota2.mp4" type="video/mp4"/>
      </video>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolore tempore necessitatibus expedita accusantium, voluptates, harum fuga numquam nemo obcaecati corporis eum soluta animi illo est repellendus quo hic commodi! 
        <hr/>
      </p>
      <section>
        <article>
          <h1>Personajes</h1>
          <figure><img src="http://dragonball.sullca.com/wp-content/uploads/2015/07/Dragon-Ball-Super-online.jpg"/></figure>
          <aside>
            <article></article>
            <p></p>
          </aside>
        </article>
      </section>
      <footer>
        <p> </p>
      </footer>
    </main>
  </body>
</html>