doctype
html(lang="es")
head
  meta(charset="UTF-8")
  title documento html 5
body
  h1 mi primer documento html 5 
  p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum praesentium molestiae, eligendi, cupiditate nostrum hic. Rerum placeat impedit id magnam, in rem tempora veritatis amet quaerat assumenda qui ratione magni incidunt quidem iusto, architecto facilis, odio veniam molestias consequuntur. Officiis similique odio sunt dicta quos et obcaecati praesentium mollitia, dignissimos. Officia velit inventore ad, facere quibusdam, quaerat rerum ipsum soluta optio est voluptatum magni, perferendis itaque nulla! Sint itaque animi asperiores eos sapiente vero, assumenda quos ex adipisci a accusantium nostrum, ducimus fugit maiores, incidunt! Laboriosam maxime velit amet temporibus voluptatum ipsum minima, voluptates inventore neque deserunt assumenda fuga. Quasi?