doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title canvas html5
  body
    h1 canvas (html5)
    hr
    h2 cuadrado
    canvas#cuadrado
    h2 rectangulo
    canvas#rectangulo
    h3 Circulo
    canvas#circulo
    h4 corazon
    canvas#corazon
    h5 triangulo
    canvas#triangulo
    h6 text
    canvas#texto
    
    script.
     var canvas1 = document.getElementById('cuadrado');
     var ctx1 = canvas1.getContext('2d');
     ctx1.fillStyle='#f00';
     ctx1.fillRect(20, 20, 100, 100);
     
     var canvas2 = document.getElementById('rectangulo');
     var ctx2 = canvas2.getContext('2d');
     ctx2.fillStyle='#f00';
     ctx2.fillRect(20, 20, 200, 100);
     
     var canvas =  document.getElementById('circulo');
     var context = canvas.getContext('2d');
     var centerX = canvas.width / 2;
     var centerY = canvas.height / 2;
     var radius = 70;

     context.beginPath();
     context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
     context.fillStyle = 'red';
     context.fill();
     context.lineWidth = 5;
     context.strokeStyle = '#f00';
     context.stroke(); 
     // corazon
     var canvas = document.getElementById('corazon');
     var ctx = canvas.getContext('2d');
     ctx.fillStyle ='#f00';
     ctx.beginPath();
     ctx.moveTo(75,40);
     ctx.bezierCurveTo(75,37,70,25,50,25);
     ctx.bezierCurveTo(20,25,20,62.5,20,62.5);
     ctx.bezierCurveTo(20,80,40,102,75,120);
     ctx.bezierCurveTo(110,102,130,80,130,62.5);
     ctx.bezierCurveTo(130,62.5,130,25,100,25);
     ctx.bezierCurveTo(85,25,75,37,75,40);
     ctx.fill(); 
     //triangulo
     var canvas = document.getElementById('triangulo');
     var ctx = canvas.getContext('2d');
     ctx.fillStyle ='#f00';
     ctx.beginPath();
     ctx.moveTo(125,125);
     ctx.lineTo(125,45);
     ctx.lineTo(45,125);
     ctx.fill();
     // texto
     
     var canvas = document.getElementById('texto');
     var ctx    = canvas.getContext('2d');
     ctx.font   = "30px arial";
     ctx.fillText(" HELLO ",10,50);
     