doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title tipos de entradas (html5)
  body
    h1 tipos de entradas  (formulario)
    hr
    form(method='post')
        
    label(for='color') color;
    input(type='color', id='color')
    br
    br
    label(for='fecha') fecha;
    input(type='date') 
    br
    br
    label(for='email') email;
    input(type='email')
    br
    br
    label(for='range') range;
    input(type='range' id='range')
    br
    br
    label(for='month') month;
    input(type='month' id='month')
    br
    br
    label(for='time') time;
    input(type='time' id='time')
    br
    br
    label(for='number') number;
    input(type='number' id='number')
    br
    br
    label(for='search') search;
    input(type='search' id='search')
    br
    br
    label(for='week') week;
    input(type='week' id='week')
    br
    br
    label(for='url') url;
    input(type='url' id='url')