<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> herencia </title>
</head>
<body>
	<h1> herencia css</h1>
	<hr>
		<article>
			<h1> herencia </h1>
			<p>
				<em>Lorem ipsum dolor sit amet</em>, consectetur adipisicing elit. Ad, tenetur ab tempore dolores. Soluta voluptatibus, repellat labore debitis hic tempore, rerum inventore. Saepe corporis ratione, natus maiores delectus accusantium quasi!
			</p>
		</article>
</body>
</html>