section {
  margin: 20px auto;
  width: 500px;
}
article {
  text-align: center;
}
article div {
  background-color: #c0c0c0;
  display: inline-block;
  height: 100px;
  margin: 0px 0px -4px -4px;
  width: 100px;
}
.maroon {
  background-color: #800000;
}
.red {
  background-color: #f00;
}
.orange {
  background-color: #ff4000;
}
.yellow {
  background-color: #ff0;
}
.olive {
  background-color: #7f8000;
}
.purple {
  background-color: #80007f;
}
.fuchsia {
  background-color: #f0f;
}
.white {
  background-color: #fff;
}
.lime {
  background-color: #0f0;
}
.green {
  background-color: #008000;
}
.navy {
  background-color: #000080;
}
.blue {
  background-color: #00f;
}
.aqua {
  background-color: #0ff;
}
.teal {
  background-color: #007f80;
}
.black {
  background-color: #000;
}
.silver {
  background-color: #bfbfbf;
}
.gray {
  background-color: #808080;
}
