article {
  border-color: #b91e1e;
  border-style: solid;
  height: 250px;
  width: 350px;
}
article.box1 {
/* ancho de bordes - forma larga */
  border-top-width: thin;
  border-right-width: 20px;
  border-bottom-width: thick;
  border-left-width: medium;
/* ancho de bordes forma corta */
  border-width: thin 20px thick medium;
}
article.box2 {
/* ancho de bordes - forma larga */
  border-top-color: #2446b6;
  border-right-color: #1478ac;
  border-bottom-color: #71be26;
  border-left-color: #7004bc;
/* colores bordes- forma  corta */
  border-color: #2446b6 #1478ac #71be26 #7004bc;
}
article.box3 {
/* estilo bordes- forma  larga */
  border-top-style: solid;
  border-right-style: dotted;
  border-bottom-style: dashed;
  border-left-style: double;
/* estilos bordes forma corta */
  border-style: solid dotted dashed double;
}
article.box4 {
/* bordes - shortand */
  border: 10px dotted #de6b1e;
}
