body {
  background-color: #0a0909;
  font: 16px Arial;
  color: #37ef05;
}
main {
  padding: 20px;
  margin: 20px auto;
  width: 700px;
}
main p {
  line-height: 20px;
  text-align: justify;
}
nav {
  background: transparent url("../imgs/city.png") no-repeat center center;
  border-bottom: 40px solid #fff;
  height: 300px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
