body {
  background-color: #333;
  color: #fff;
}
section#box {
  background-color: #fff;
  color: #777;
  margin: 20px auto;
  padding: 20px;
  width: 800px;
}
section#box p {
  border: 2px solid #777;
  display: inline-block;
  padding: 10px;
  width: 172px;
}
p.left {
  text-align: left;
}
p.center {
  text-align: center;
}
p.right {
  text-align: right;
}
p.justify {
  text-align: justify;
}
