body {
  background-color: #ef1f3c;
  color: #b81919;
  font: 16px Arial;
}
section {
  background-color: #8d4d4d;
  border: 10px solid #1c11f4;
  padding: 20px;
  margin: 20px auto;
  width: 800px;
}
nav a:link,
nav a:visited {
  background-color: #1a0ff4;
  border: 4px solid #9a1fc3;
  color: #11f156;
  display: inline-block;
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
  width: 168px;
}
nav a:hover {
  background-color: #fff;
  border: 4px solid #251414;
  color: #0eb016;
}
nav a:active {
  background-color: #0b14cb;
  border: 4px solid #e9bd23;
  color: #fff;
}
/* pseudo calses para elemntos de formulario */
::-webkit-input-placeholder {
  color: #fff;
}
input {
  background-color: #ee4d2d;
  border: none;
  color: #fff;
  font-size: 1.2em;
  display: block;
  outline: none;
  padding: 20px;
  width: 96%;
}
input:focus {
  background-color: #337416;
  color: #14f59e;
/* insertar contenido antes y despues */
}
div.box::after,
div.box::before {
  content: '';
  position: absolute;
}
div.box {
  background-color: #71f80e;
  height: 200px;
  position: relative;
  top: 0px;
  left: 0px;
  width: 200px;
}
div.box::after {
  background-color: #211d20;
  height: 100px;
  top: 0px;
  left: 100px;
  width: 100px;
}
div.box::before {
  background-color: #211d20;
  height: 100px;
  top: 100px;
  left: 0px;
  width: 100px;
}
p::first-letter {
  color: #221f1f;
  font-weight: bolder;
  font-size: 4em;
}
p::first-line {
  color: #3f1c34;
}
