body {
  background-color: #eb0e0e;
  font: 16px Tahoma;
}
section {
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 800px;
}
ul {
  border: 2px dotted #2618d8;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}
ul.disc li {
  list-style-type: disc;
}
ul.circle li {
  list-style-type: circle;
}
ul.square li {
  list-style-type: square;
}
ol.decimal li {
  list-style-type: decimal;
}
ol.roman li {
  list-style-type: upper-roman;
  list-style-type: inside;
}
ol.greek li {
  list-style-type: lower-greek;
}
ul.imagenes li {
  list-style-image: url("../imgs/pokeball.png");
}
/* forma corta */
ul.imagenes li {
  list-style: decimal outside url("../imgs/pokeball.png");
}
