/* unidades de medidas porcentuales */
section
  background-color peru
  width 100%
  div
    background-color orange
    display inline-block
    height 400
    font-size 3em
    text-align center
    .box1
      width 50%
    .box2
      width 40%
    .box3
      width  20% 