section
	margin 20px autoC
	width 500px
article
	text-align center
	div
		background-color silver
		display inline-block
		height 100px
		margin 0px 0px -4px -4px
		width 100px
.maroon
	background-color: rgb(35%,0%,0%)
.red
	background-color: rgb(100%,0%,0%)
.orange
	background-color: rgb(95%,43%,6%)
.yellow
	background-color: rgb(241,238,16)
.olive
	background-color: rgb(146,171,9)
.purple
	background-color: rgb(164,16,241)
.fuchsia
	background-color: rgb(230,11,145)
.white
	background-color: rgb(255,255,255)
.lime
	background-color: rgb(139,230,22)
.green
	background-color: rgb(0,255,0)
.navy
	background-color: rgb(8,13,117)
.blue
	background-color: rgb(0,0,255)
.aqua
	background-color: rgb(12,245,242)
.teal 
	background-color: rgb(9,155,230)
.black
	background-color: rgb(0,0,0)
.silver
	background-color: rgb(140,140,146)
.gray
	background-color: rgb(92,93,118)