body, html
	background -webkit-linear-gradient(top, rgb(255,0,0))
	color: rgba(255, 255,255,)
	height: 100%
section
	margin 0px auto
	width 600px
article
	height 100px
	margin
.rojo
	background -webkit-linear-gradient rgba(25, 0, 0, .1)
.verde
	background -webkit-linear-gradient rgba(25, 0, 0, .1)
.azul
	background -webkit-linear-gradient rgba(25, 0, 0, .1)