section 
	background-color #f5bee5
	border 40px  solid #ba539f
	height 400px
	width 600px
section div.box
	background-color #ccc
	height 100px
	width 200px
	/* margenes: forma larga */ 
		margin-top 100px 
		margin-right 130px
		margin-bottom 300px
		margin-left 250px
    /* margenes: forma corta */
    	margin 100px 130px 200px 250px 