body
	background-color: #FF13DB
	font 16px tahoma
	color #4EDF51
h2
	background-color: #FF13DB
	padding 20px
section
	background-color: #FF13DB
	height 500px
	padding 20px  
section div
	display inline-block 
	height 400px
	margin-left 4px 
	width 500px
.fondocolor  .fondo1
	background-color: #E8F511  
.fondocolor .fondo2
	background-color: #1E07FB
.fondocolor .fondo3
	background-color: #F50A0A
	
.imagenfondo  .fondos1
	background-image 
.imagenfondo  .fondo2
	background-image 
.imagenfondo  .fondo3
	background-image 
	
.repetirfondo   .fondos1