body
	color #0D0D0D
	font 20px Arial 
section.padre
	border 8px solid #1C06ED
	height 300px
	padding 10px
	width 300px
section.padre div
	border 8px solid #1C06ED
	height 60px
	line-height 60px
	margin-bottom 10px
	text-align center 
	width  120px
	
section div.hija1_
	background-color: #DE2525
	float right
section.padreimagen
	border 8px solid #1C06ED
	height 800px
	width  800px
	padding 10px
section.padreimagen img
	float left
	
	

	