body
	color #0D0D0D
	font 20px Arial 
section.padre
	border 2px solid #1C06ED
	display inline-block
	height 330px
	padding 10px
	width 330px
section.padre div
	border 2px solid #1C06ED
	display inline-block
	height 100px
	line-height 100px
	margin-bottom 10px
	text-align center 
	width  100px
section div.caja5no
	display none
section div.caja5si
	visibility hidden
