body
	background-color #FF0000
	font 16px Arial
	padding 0px
	margin 0px
header
	background-color #fff
	border-bottom 4px solid rgba(0,0,0,0,2)
	height 100px
	margin 0px
header figure.logo
	background #fff url(../imgs/sprite-web.png) no-repeat
	background-position -272px -34px
	height 90px
	margin 0px
	width 244px
nav
	position relative
	left 360px
	top -70px
	width 880px
nav li
	background-color #FF0000
	color #fff
	display inline-block
	vertical-align top
	margin-left 12px
	padding 10px 40px
	text-align center
	width 120px
nav li:hover
	background-color #b81824
	border-bottom 4px solid #e82231
	cursor pointer
	
section
	margin 20px auto
	padding 10px 
	width 1024px 
section aside
	display inline-block
	vertical-align top 
section aside.cleft 
		width 600px
section aside.cleft article
	background-color #fff
	padding 10px
	margin-bottom 4px 
section aside.cleft article p h3
	border-bottom 2px solid #DBD6D6
	color #DBD6D6
	font-size 1.5em
section aside.cleft article p
		text-align justify
section aside.cleft article p::first-letter
	color #DBD6D6
	font-size 1.5em
section aside.cleft article figure.box
	background #fff url(../imgs/sprite-web.png) no-repeat
	background-position -24px -262px
	height 210px
	width 470px
section aside.cright
		width 360px
section aside.cright ul.years
		list-style none
		margin 0px
section aside.cright ul.years li 
	background-color #fff
	padding 20px 10px
	margin-bottom 21px
section aside.cright ul.years li span.icon
	background #000 url(../imgs/sprite-web.png) no-repeat
	background-position -362px -140px 
	display inline-block
	height 90px
	width  90px 
section aside.right ul.years li em 
	display inline-block
	position relative
	left 10px
	top -38px
	
	
 footer
	background-color #000
	color #fff
	padding 10px
	text-align center
footer figure.logodark
	background #000 url(../imgs/sprite-web.png) no-repeat
	background-position -24px -478px
	margin 10px auto
	height 110px
	width 450px