section#leon
	background transparent url(../imgs/leon.png) no-repeat
	border 6px solid #ddd
	height 200px 
	margin 20px auto
	width 495px
	
section#leon.anim1
	background-position -0px -58px
section#leon.anim2
	background-position -495px -58px
section#leon.anim3
	background-position -0px -318px
section#leon.anim4
	background-position -495px -310px
section#leon.anim5
	background-position -0px -550px
section#leon.anim6
	background-position -495px -590px
section#leon.anim7
	background-position -0px -830px
section#leon.anim8
	background-position -495px -814px